body {
    background-color: #f5f5f5;
    font-family: 'Roboto Condensed', sans-serif;
}

.main-section {
    margin-top: 20px;
}

.add-sens {
    position: absolute;
    top: 0px;
    right: 50px;
}

.img-section {
    overflow: hidden;
}

.img-section img {
    overflow: hidden;
    width: 100%;
}

.img-section img:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

.sectin-title h1 {
    font-weight: 700;
    font-size: 23px;
    color: #285A63;
}

.section-detail p {
    color: #756d6d;
    letter-spacing: 1px;
}

.fa-star,
.fa-star-half-alt {
    color: #FEC00B;
}

.fa-star-half-alt {
    margin-right: 10px;
}